---
title: Epsilon Tau Pi Foundation
---
    <!--Banner-->
    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <!--
              <div class="text-border">
                <h2 class="text-dec">Trust & Quality</h2>
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium enim repellat sapiente quos architecto<br>Laudantium enim repellat sapiente quos architecto</p> 
              </div>
              <a href="#feature" class="mouse-hover"><div class="mouse"></div></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Banner-->
    <!--About Us-->
    <section id ="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>About Us</h2>
            <p>Epsilon Tau Pi is a fraternal organization of past recipients of the Eagle Scout Award given by the Boy Scouts of America. For further information about the national fraternity <a href="http://epsilontaupi.org">click here</a>.
            </p>
            <br />
            <p>
              The Epsilon Tau foundation was created for the charitable and educational purpose of collecting donations and awarding partial educational scholarships to individuals who have received the Eagle Scout Award.  These scholarships will be made to help pay the cost of the recipient’s pursuit of a Bachelor’s or Associate’s Degree.  These scholarships shall be paid directly to the educational institution attended by the recipients, for the recipients benefit. Scholarships shall be awarded to first year students who are attending educational institutions that maintain active chapters of the Epsilon Tau Pi Fraternity.  Funding for the Applicant’s activities shall be through contributions from the general public and through other permitted fundraising efforts.
            </p>
            <hr class="bottom-line">
          </div>
        </div>
      </div>
    </section>
    <!--/ About Us-->
    <!--Soaring Eagle Scholarship-->
    <section id="scholarship" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Soaring Eagle Scholarship</h2>
            <p>
              Are you an incoming Eagle Scout at:
                <ul>
                  <li>&bull; The University of Dayton</li>
                  <li>&bull; The Ohio State University</li>
                  <li>&bull; Western Carolina University</li>
                  <li>&bull; West Virginia University</li>
                  <li>&bull; Appalachian State University</li>
                  <li>&bull; Georgia Southern University</li>
                  <li>&bull; Robert Morris University</li>
                  <li>&bull; Missouri Western State University</li>
                  <li>&bull; East Carolina University</li>
                </ul>
              Then apply for the Soaring Eagle Scholarship!
              All applications for the Soaring Eagle Scholarship must be Postmarked or emailed by July 1, 2017. The application can be downloaded below:
            </p>
            <p>
              If you would like more information on the scholarship please contact scholarship@etp-foundation.org
            </p>
            <hr class="bottom-line">
          </div>
          <div>
            <div class="pm-scholarship-container" >     
              <div class="pm-scholarship-details text-center">  
                <p class="pm-scholarship-title">2017 Scholarship Awardee</p>
              <div class="pm-scholarship-image-wrapper text-center">
                <div class="pm-scholarship-image">
                  <img src="images/nophoto.jpg" alt="" class="img-thumbnail img-circle" />
                </div>   
              </div> 
                <p class="pm-scholarship-name">C. Bristow</p>
                
                <p class="pm-scholarship-about">Appalachian State University (ETA Chapter)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Soaring Eagle Scholarship-->
    <!--Donate-->
    <section id ="donate" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Donate</h2>
              <p>
                The target for fundraising for the 2018-2019 scholarship is to provide one $1000 scholarship and two $500 scholarships. Help fund a portion of a scholarship for an Eagle Scout in their journey to college. All donations are tax deductible.
              </p>
            <hr class="bottom-line">
          </div>
        </div>
        <script src="https://donorbox.org/widget.js" type="text/javascript"></script>
        <iframe src="https://donorbox.org/embed/soaring-eagle-scholarship?amount=30" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important;margin:auto;display:block;" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
      </div>
    </section>
    <!--/ Donate-->
    <!--Contact-->
    <section id ="contact" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Contact Us</h2>
            <p>
              <form action="https://formspree.io/treed@epsilontaupi.org" method="POST">
              <label for="name">Your Name</label>
              <input type="text" name="name">
              <label for="_replyto">Your Email</label>
              <input type="email" name="_replyto">
              <p class="textarea">
                <label for="text">Your message:</label>
                <textarea name="text" id="text" required="" placeholder="Your message..."></textarea>
              </p>
              <input type="hidden" name="_next" value="#sendmessage">
              <input type="submit" value="Send">
              </form>
            </p>
            <hr class="bottom-line">
          </div>
        </div>
      </div>
    </section>
    <!--/ Contact-->